/* Схема свойств класса */

.class {
    /* Позиционирование */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    /* Блочная модель */
    display: block;
    float: right;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;

    /* Типографика */
    font: normal 13px/1.5 "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

    /* Оформление */
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    opacity: 1;

    /* Анимация */
    transition: color 1s;

    /* Разное */
    will-change: auto;
}

/* Готовые шаблоны классов */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.button {
    display: inline-block;
    padding: 10px 40px;
    min-width: 140px;

    font: inherit;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
}

.button:active {
}

.elementclass::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 16px;
    height: 18px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

/* Допустимые глобальные теги */

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

/* Сложные свойства */

box-shadow: inset <сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>;
border: [border-width || border-style || border-color] | inherit;
