
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.button {
    display: inline-block;
    padding: 10px 40px;
    min-width: 140px;

    font: inherit;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.button:hover,
.button:focus {
}

.button:active {
}
