// Синий - желтый
// Спокойствие, бдительность
// Амазон, Лего, Скетч
$basecolor-sketch-blue: #577590;
$basecolor-sketch-yellow: #F3CA40;

// Темно-зеленый - глиттер
// Полное спокойствие
// Старбакс
$basecolor-starbaks-green: #003B36;
$basecolor-starbaks-glitter: #EAE8FF;
$basecolor-starbaks-black: #000000;

// Темно-синий - оливковый
// Спокойствие, комфорт, доверие
// Андройд, N-Vidia, Фигма
$basecolor-figma-blue: #0F2A62;
$basecolor-figma-oliv: #B4DA9B;
$basecolor-figma-black: #000000;
