// Трансформация

// Анимация transition

.classname{
  transition-property: all; // анимировать все свойства
  transition-property: [property1], property2],... ; // свойства, которые нужно анимировать
  transition-duration: 0.25s | 250ms; // продолжительность анимации
  transition-delay: 0.25s | 250ms; // задержка до начала выполнения
  transition-timing-function: cubic-bezier(0, 0, 1, 1); // временная функция исполнения анимации
  transition: background-color 1s cubic-bezier(0, 0, 1, 1) 500ms; // единое свойство для анимации, используется комбинацию свойств в следующем порядке: property, duration, timing-function, delay
}

// Анимация animation

.classname {
  animation-name: my_drive; // имя анимации, связанное с @keyframes
  animation-iteration-count: 2 | infinite; // количество повторов, по умолчанию 1, infinite = бесконечно
  animation-direction: normal | reverse | alternate | alternate-reverse | initial | inherit; // направление анимации
  animation-play-state: running | paused; // проикрывание (по умолчанию), пауза
  animation-fill-mode: none | forwards | backwards | both; // применение анимируемых свойств к объектку: только во время, по окончанию, до начала, и до и после
  animation-duration: 0.25s | 250ms;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
    // Значения функции:
	// linear - ровно, без изменений
	// ease - замедляется в начале и в конце, cubic-bezier(0.25,0.1,0.25,1)
	// ease-in - ускоряется от начала к концу, cubic-bezier(0.42,0,1,1)
	// ease-out - замедляется от начала к концу, cubic-bezier(0,0,0.58,1)
	// ease-in-out - медленно начинается и заканчивается, cubic-bezier(0.42,0,0.58,1)
	// cubic-bezier(x1, y1, x2, y2) - произвольная функция Безье
  animation-delay: 0.25s | 250ms;
  animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction; // краткая запись
}

@keyframes my_drive {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes my_drive {
  from,
  to { opacity: 1; }
  25%,
  50% {opacity: 0; }
}

@keyframes my_drive {
  from { opacity: 0; }
  to   { opacity: 1; }
}
