extends templates/page.pug
append config
  - var pageTitle = 'Поиск номеров отелей: главная'
  - var addJS = false

block main
  main.titul-page
    a(href='colortype.html') Цвета и шрифты
    a(href='formelements.html') Элементы формы
