@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-ExtraBold.woff') format('woff'), url('fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('fonts/Montserrat-ExtraBold.svg') format('svg');
	font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Bold.woff') format('woff'), url('fonts/Quicksand-Bold.ttf') format('truetype'), url('fonts/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Regular.woff') format('woff'), url('fonts/Quicksand-Regular.ttf') format('truetype'), url('fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('fonts/Montserrat-SemiBold.woff') format('woff'), url('fonts/Montserrat-SemiBold.ttf') format('truetype'), url('fonts/Montserrat-SemiBold.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
